@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-purple-100;
  }
}

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

/* Hamburger Menu */
.hamburger {
  @apply cursor-pointer w-6 h-6 transition-all duration-200 relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply absolute w-6 h-[3px] top-0 left-0 bg-black transform rotate-0 transition-all duration-500;
}

.hamburger-middle {
  @apply transform translate-y-[7px];
}

.hamburger-bottom {
  @apply transform translate-y-[14px] bg-black;
}

.open {
  @apply transform rotate-90 translate-y-0 fixed top-[50px] right-[25px];
}

.open .hamburger-top {
  @apply transform rotate-45 translate-y-3 translate-x-0 bg-white;
}

.open .hamburger-middle {
  @apply hidden;
}

.open .hamburger-bottom {
  @apply transform -rotate-45 translate-y-3 translate-x-0 bg-white;
}
